img {
    max-height: 100%;
}

.nav-h {
    color: black;
    padding: 15px;
    transition: background-color 1s ease-out;
}

a.active {
    background-color: rgb(209, 208, 208);
    padding: 17px;
}

.nav-h:hover {
    color: aliceblue;
    background-color: rgb(52, 43, 43);
}